* {margin: 0; padding: 0; box-sizing: border-box;}
li {list-style: none;}
a {text-decoration: none;}
img {width: 100%;} button {outline: none;}
.hidden {text-indent: -999999px;}
.hiddenspan {opacity: 0;z-index: -100;}

/*layout_class*/
.divContainer {
  position: relative;
  width: 100%; height: 100%; 
  padding: 0 200rem 0 200rem;
}
.absoluteCenter {
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.flexCenter {
  display: flex; align-items: center; justify-content: center;
}
.vh100 {
  height: 100vh; height: calc(var(--vh, 1vh) * 100);
}
.stroke {
  color: transparent; 
}


.warp {
  position: relative;
  left: 0; top: 0;
  width: 100%; height: auto;
}
.header {
  position: fixed; top: 0; left: 0;
  transform: translateY(0);
  width: 100%;
  display: flex;
  justify-content: center; align-items: center;
  padding: 0 200rem;
  z-index: 10;
}
.header.navDown { transform: translateY(-100%); }
.header.navUp { transform: translateY(0); }

.header header {
  display: flex; justify-content: space-between;
  border-bottom: 0.3px solid #ccc;
  width: 100%;
}

.withlogo {
  background-image: url(../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 10%;
  width: 110px; 
  filter: brightness(0) invert(1);
  z-index: 10;
}
#gnb .withHeader {
  display: flex;
  
}
#gnb .withHeader li.inMenuWrap {
  position: relative;
  width: 20%;
}
#gnb .withHeader li a {
  position: relative; top: 0;left: 0;
  display: flex;
  justify-content: center; align-items: center;
  padding: 20px;
  color:#fff;
  height: 85px;
}
#gnb .withHeader .inMenu {
  position: absolute; top: 85px; left: 0;
  display: flex;
  flex-direction: column;
  width: 100%; max-height: 0;
  background-color: #cccccc7a;
  line-height: 1.5;
  padding: 0 20px;
  /* display: none; */
  overflow: hidden;
  transition: all 0.4s ease;
}
#gnb > ul > li.inMenuWrap.show .inMenu {max-height: 300px;}


#gnb .withHeader .inMenu a {
  height: 0;  font-size: 13px;
}
#gnb .withHeader .inMenu a:hover {
  font-weight: bold; color:blanchedalmond;
}

.backbg {
  position: absolute; top: 0; left: 0; right: 0; 
  width: 100%; height: 200%;
}
.backbg img { height: 120%;}

.menuBtn {position: relative; cursor: pointer;z-index: 10;}
.menuBtn::before {
  position: absolute; top: 46%; left: 50%;
  content:"";
  width: 22px; height: 1.8px;
  background-color: #fff;
  transition: all 0.6s;
}
.menuBtn::after {
  position: absolute; top: 52%; left: 50%;
  content:"";
  width: 22px; height: 1.8px;
  background-color: #fff;
  transition: all 0.6s;
}
.menuBtn.style::before {transform: rotate( 20deg ); height: 2px; background-color: #fff;}
.menuBtn.style::after {top: 46%; right: 8%; transform: rotate( -20deg ); height: 2px;background-color: #fff;}

.allMenu {
  position: absolute; top: 0px; left: 0;
  width: 100%; 
  max-height: 0; overflow: hidden;
  background-color: #000;
  transition: all 1s ease;
  z-index: 5;
}
.allMenu.on  {max-height: 100vh;}
.allMenu ul.allMenuul {
  position: relative; top: 0;
  display: flex;
  flex-direction: column;
  padding:250px 45rem 200rem 200rem;
  max-height: 100vh;
}

.allMenu ul.allMenuul li.allMenuli {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}
.allMenu ul.allMenuul li.allMenuli > ul {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: 60px;
}

.allMenu ul.allMenuul li.allMenuli a.allMenua {color:#fff;font-weight: bold;}
.allMenu ul.allMenuul li.allMenuli a {
  display: block;
  color:#969696; font-size: 15px;
  padding-right: 30px;
  font-weight: normal;
}

.container {
  position: relative; 
  top: 120px;
  margin: 0 200rem;
}

/* rightround */
.rightround {
  position: absolute; top: 0; right: 0%;
  background-color: rgb(167, 5, 75);
  border-radius: 50%;
  width: 80px; height: 80px;
  color:#fff;
  text-indent: -999999px;
}

.rightround::before {
  content: "";
  position: absolute; top: 0%;left: 0%;
  transform: translate(-50%, -50%);
  background: url(../images/smile_txt.svg) no-repeat center center/cover;
  width: 100%;height: 100%;
  opacity: 0.7;
  animation: rotate 10s linear infinite;
  animation-direction: reverse;
}
.rightround::after {
  content: "";
  position: absolute; 
  top: 35%;left: 35%;
  transform: translate(-50%, -50%);
  background: url(../images/icon_smile.svg) no-repeat center center/cover;
  width: 30%;height: 30%;
  opacity: 0.8;
  animation: rotate 10s linear infinite;
}
@keyframes rotate { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* content01 */
.container .content01 {
  position: relative;top: 0;left: 0;
  width: 100%; height: 100vh;
}
.content01 .textWrap {
  color: #fff;
}
.content01 .textWrap .text_top{
  line-height: 1.5;
  padding-left: 30px;
}
.content01 .textWrap.text_u {
  background: url(../images/logo_u.png) no-repeat center center/cover;
  width: 500px; height: 214px;
}
.content01 .textWrap strong.nonewith {font-size: 140px;}
.content01 .textWrap strong.noneu {font-size: 400px;}
.content01 .textWrap strong.noneyou {font-size: 100px;}
.content01 .textWrap p.text01 {
  font-size: 12px;
  padding-left: 20px;
}

.content01 .textWrap.text_with{
  position: absolute; top: 0; left: 0;
  transform: translateY(-10%);
}
.content01 .textWrap.text_u{
  position: absolute; top: 30%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-bottom: 200px;
  opacity: 0;
}
.content01 .textWrap.text_you{
  position: absolute; bottom: 50%; right: 0;
  transform: translateY(50%);
  opacity: 0;
}

/* stiky_box */
.warp .sticky_wrap {
  position: absolute; 
  top: 0;left: 0; right:0;  bottom: 0;
  width: 100%; height: 100%;
}
.warp .sticky_box {
  position: sticky; top: 0;left: 0;
  width: 100%; height: 100vh;
  /* border: 2px solid red; */
}
.warp .sticky_box .ibox {
  position: absolute; bottom: 50px; left: 0;
  width: 100%; height: 60px;
  text-align: center;
}
.warp .sticky_box .ibox i {
  position: absolute; top: 0; 
  width: 20px; height: 37px;
  border-radius: 100%;
  border:2px solid #fff;
}
.warp .sticky_box .ibox i::before {
  content: "";
  position: absolute; top: 10%; left: 50%;
  transform: translateX(-50%);
  width: 2px; height: 8px;
  background-color: #fff;
}
.warp .sticky_box .ibox::after {
  content: "";
  position: absolute; bottom: -5%;left: 49.9%;
  transform: translateX(-50%);
  width: 25px; height: 20px;
  background: url(../images/scr_down.svg) no-repeat center center/contain;
  animation: arrow 0.7s ease infinite alternate-reverse;
}
@keyframes arrow {
  0%{transform: translateY(0%);}
  100%{transform: translateY(20%);}
}

/* content02 */
.container .content02{
  position: relative;
  width: 80%; margin:0 auto;
  color:#fff;
  /* border:1px solid; */
}
.content02 .cont1 {
  margin-bottom: 50px;
  transform: translateY(-20%);
  opacity: 0;
}
.content02 .cont1 .text01 {
  text-align: left; font-size: 28px;
  line-height: 1.3;
}
.content02 .cont2 {
  display: flex;
  gap: 20px 0px;
  flex-flow: nowrap;
  line-height: 1.5;
}
.content02 .cont2 .text02 {
  width: 400px;
  font-size: 18px;
  margin-right: 30px;
  transform: translateY(-20%);
  opacity: 0;
}
.content02 .cont2 .line_efect {
  position: relative;
  width: 40px;
  display: flex;
  transition: all 1s ease;
}
.content02 .cont2 .line_efect::after {
  content: "";
  display: block;
  position: absolute; top: 0; left: 0;
  width: 1.5px; height: 150px;
  background-color: #fff;
  opacity: 0;
  transform-origin: top left;
  transform: scaleY(0);
  transition: all 2s ease;
}
.content02.toline .cont2 .line_efect::after {
  opacity: 1; transform: scaleY(1);
}
.content02 .cont2 .line_efect::before {
  content: "V";
  display: block;
  position: absolute; bottom: -35%; left: -35%;
  transform: translateX(-50%);
  width: 30px; height: 30px;
  text-align: center;
  animation: arrow 0.7s ease infinite alternate-reverse;
  opacity: 0;
}
.content02.toline .cont2 .line_efect::before {
  opacity: 1; 
}
@keyframes arrow {
  0%{transform: translateY(0%);}
  100%{transform: translateY(20%);}
}

.content02 .cont2 .text_box {
  transform: translateY(-20%);
  opacity: 0;
}
.content02 .cont2 .text_box strong{
  font-size: 20px;
}
.content02 .cont2 .text_box .text03{
  margin-top: 30px;
}

